<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | CyberCoreShop</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">


</head><!--/head-->
<body>
	<header id="header">
		<!--header-->
		<div class="header_top">
			
		</div><!--/header_top-->

		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="logo pull-left">
							<a asp-action="Index" asp-controller="Home">
								<img src="~/images/home/CCShop.png" alt="logo" width="150px" />
							</a>
						</div>
					</div>

					<div class="col-sm-4">
							<div class="search_box">
								<input type="text" placeholder="Search" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="shop-menu">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>	
								<li><a asp-controller="Account"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-12">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu d-flex justify-content-center">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-controller="Home" class="active">Home</a></li>
								<li class="dropdown">
									<a asp-controller="Product">Shop<i class="fa fa-angle-down"></i></a>
									<ul role="menu" class="sub-menu">
										<li><a asp-action="Index" asp-controller="Category">Category</a></li>
										<li><a asp-action="Details" asp-controller="Product">Product Details</a></li>
										<li><a asp-action="Index" asp-controller="Checkout">Checkout</a></li>
										<li><a asp-action="Index" asp-controller="Cart">Cart</a></li>
										<li><a >Login</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#">Blog<i class="fa fa-angle-down"></i></a>
									<ul role="menu" class="sub-menu">
										<li><a href="blog.html">Blog List</a></li>
										<li><a href="blog-single.html">Blog Single</a></li>
									</ul>
								</li>
								<li class="dropdown-item">
									<a asp-action="" asp-controller="">Mac</a>
									<ul role="menu" class="sub-menu">
										<li><a>Blog List</a></li>
										<li><a>Blog Single</a></li>
									</ul>
								</li>
								<li><a>iPad</a></li>
								<li><a>iPhone</a></li>
								<li><a>Watch</a></li>
								<li><a>Vision</a></li>
								<li><a>AirPod</a></li>
								<li><a>Accessories</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="slider">
		<!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-12" >
									<img src="~/images/banner/banner iPad Air M2-T7_PC.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-12">
									<img src="~/images/banner/banner Mac.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="col-sm-12">
									<img src="~/images/banner/banner iPhone 15 Pro Max T7_PC.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-sm" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-sm" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/slider-->


	<section id="slider-feedback">
		<!--slider feedback-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel2" class="carousel slide" data-ride="carousel" style="position: relative;">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel2" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel2" data-slide-to="1"></li>
							<li data-target="#slider-carousel2" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="row" style="display: flex; justify-content: space-between;">
									<div style="width: 423px; height: auto; margin-right: 10px; padding-bottom: 40px;">
										<img src="~/images/feedback/B Trần.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
									<div style="width: 423px; height: auto; margin-right: 10px; padding-bottom: 40px;">
										<img src="~/images/feedback/Bình An _ Phương Nga.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
									<div style="width: 423px; height: auto; padding-bottom: 40px;">
										<img src="~/images/feedback/Duydam.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row" style="display: flex; justify-content: space-between;">
									<div style="width: 423px; height: auto; margin-right: 10px; padding-bottom: 40px;">
										<img src="~/images/feedback/HUyền Lizze _ Quỳnh Koool.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
									<div style="width: 423px; height: auto; margin-right: 10px; padding-bottom: 40px;">
										<img src="~/images/feedback/Huỳnh Anh.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
									<div style="width: 423px; height: auto; padding-bottom: 40px;">
										<img src="~/images/feedback/Lê Bống.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row" style="display: flex; justify-content: space-between;">
									<div style="width: 423px; height: auto; margin-right: 10px; padding-bottom: 40px;">
										<img src="~/images/feedback/Thu Mít.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
									<div style="width: 423px; height: auto; margin-right: 10px; padding-bottom: 40px;">
										<img src="~/images/feedback/Trung Anh.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
									<div style="width: 423px; height: auto; padding-bottom: 40px;">
										<img src="~/images/feedback/Trung Ruồi.png" style="width: 100%; height: 100%; object-fit: cover;" alt="" />
									</div>
								</div>
							</div>
						</div>

						<a href="#slider-carousel2" class="left control-carousel hidden-sm" data-slide="prev" style="position: absolute; left: 15px; top: 50%; transform: translateY(-50%); font-size: 20px;">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel2" class="right control-carousel hidden-sm" data-slide="next" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: 20px;">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				@Html.Partial("_NotificationPartial")
				@RenderBody()
			</div>
		</div>
	</section>

	<footer id="footer">
		<!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quock Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">T-Shirt</a></li>
								<li><a href="#">Mens</a></li>
								<li><a href="#">Womens</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Shoes</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Store Location</a></li>
								<li><a href="#">Affillate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->



	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>