<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<vc:categories></vc:categories>
	</div><!--/category-products-->

	<div class="panel-group category-products" id="accordian">
		<!--brands-productsr-->
		<vc:brands></vc:brands>
	</div><!--/brands-products-->

</div>